<!DOCTYPE html>
<html lang="en">

<!-- Homepage of applicacation snps -->
{% load static %}

<head>
	<title>Homepage</title>
  <meta charset="UTF-8" content="Jakub Giezgała">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'snps/styles.css' %}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
	<section>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" target="_blank" href="#">SNP Atlas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search_snps">SNPs</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	</section>
	
<main>
  <section>
    <div class="container-md">
	    <div class="row justify-content-center mt-2">
	      <div class="col">
		      <nav class="navbar navbar-dark bg-primary">
		        <div class="container-fluid">
			        <span class="nav-item" style="color: white;">Welcome to SNP Atlas</span>
		        </div>	
		      </nav>
		      <div>
		        <textarea class="form-control" rows="12" style="resize: none; background-color: white;
		   border-top-left-radius: 0; border-top-right-radius: 0;" readonly> 
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vehicula eget enim et facilisis. Morbi ut enim non libero sodales dignissim. Ut felis nisl, elementum ac egestas tempor, sodales ac erat. In eu sodales nibh. Nam in magna rhoncus, gravida metus et, rhoncus turpis. Cras sagittis dui quis urna commodo, id fermentum nisl dapibus. Maecenas a ipsum tempor, pretium sem at, dapibus turpis. Praesent non purus enim. Donec varius sit amet tortor et consectetur. Nam id eros ullamcorper, ultrices neque id, vestibulum orci. Nullam commodo laoreet euismod.

	Nulla in pulvinar dolor. Nullam dictum, nisl vitae commodo imperdiet, mauris sem viverra diam, ut placerat sem nisi eu odio. Mauris hendrerit nisi id tincidunt aliquet. Etiam suscipit metus ut lectus elementum, nec blandit enim ullamcorper. Suspendisse potenti. Mauris hendrerit, metus ut varius suscipit, justo felis ullamcorper augue, ac iaculis dolor diam eu risus. Ut mattis ipsum eu urna luctus, eu ultrices sem pellentesque. Proin ut ex eget velit iaculis ultricies. Curabitur pretium metus fringilla ex rutrum dignissim. Nulla fringilla et urna ac condimentum. In quis maximus est.
		        </textarea>
		      </div>
	      </div>
	    </div>  
    	<div class="row justify-content-center mt-2 mb-2"> 
	      <div class="col">
	        <nav class="navbar navbar-dark bg-primary">
		        <div class="container-fluid">
			        <span class="nav-item" style="color: white;">Basic statistics</span>
		        </div>	
		      </nav>
		        <div style="border: 1px solid #ced4da; display: flex;">
		          <table class="table table-md m-4" style="position: relative;">
		            <thead style="padding: 5px;">
		              <tr style="text-align: center">
		                <th scope="col">Category</th>
		                <th scope="col">Position</th>
		              </tr>
	              </thead>
	              <tbody>
			            <tr>
			              <td>Species</td>
									  <td>12</td>
									</tr>
									<tr>
									  <td>Samples</td>
									  <td>67</td>
									</tr>
									<tr>
									  <td>SNPs</td>
									  <td>100,000,000</td>
									</tr>
								</tbody>
		          </table>
		        </div>
	        </div>
	        <div class="col">
				    <nav class="navbar navbar-dark bg-primary">
					    <div class="container-fluid">
						    <span class="nav-item" style="color: white;">Charts</span>
					    </div>	
					</nav>
		      <div>
		        <textarea class="form-control" rows="2" style="resize: none; background-color: white;
		          border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 0;
		          border-bottom-right-radius: 0;" readonly>
		     
		        </textarea>
		      </div>
	      </div>
      </div>
    </div>
  </section>
</main>
</body>
</html>
