<!DOCTYPE html>
<html lang="en">

<!-- Wyszukiwarka SNPsów -->
{% load static %}

<head>
	<title>SNPs</title>
  <meta charset="UTF-8" content="Jakub Giezgała">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'snps/styles.css' %}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
	  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
  <section>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" target="_blank" href="/">SNP Atlas</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/search_snps">SNPs</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	</section>
	
  <main>
    <section>
      <div class="container-md">
	      <div class="row justify-content-center mt-2">
	        <div class="col">
		      <nav class="navbar navbar-dark bg-primary">
			    <div class="container-fluid">
			      <span class="nav-item" style="color: white;">Select Species</span>
		        </div>
			  </nav>
		    </div>
		  </div>
		  <div class="container-fluid" style="border: 1px solid #ced4da;">
		    <div class="row justify-content-center mt-2 mb-4">
		      <div>
		        <ul class="list-group list-group-horizontal-md d-flex flex-wrap">
			        <li class="list-group-item flex-fill border-0">
			          <div class="square"></div>
			          <div class="col">Species name</div>
			        </li>
			        <li class="list-group-item flex-fill border-0">
			          <div class="square"></div>
			          <div class="col">Species name</div>
			        </li>
			        <li class="list-group-item flex-fill border-0">
			          <div class="square"></div>
			          <div class="col">Species name</div>
			        </li>
			        <li class="list-group-item flex-fill border-0">
			          <div class="square"></div>
			          <div class="col">Species name</div>
			        </li>
			        <li class="list-group-item flex-fill border-0">
			          <div class="square"></div>
			          <div class="col">Species name</div>
			        </li>
			        <li class="list-group-item flex-fill border-0">
			          <div class="square"></div>
			          <div class="col">Species name</div>
			        </li>
		        </ul>
	        </div>
	      </div>
	    </div>
	    <div class="row justify-content-center mt-2">
	      <div class="col">
		    <nav class="navbar navbar-dark bg-primary">
		      <div class="container-fluid">
		        <span class="nav-item" style="color: white;">SNP search</span>
		      </div>
	        </nav>
			<div class="container-fluid" style="border: 1px solid #ced4da;">
			  <form>
		        <div class="row mt-4">
			        <label for="Region" class="col-md-1 col-form-label">Region</label>
			            <div class="col-md-4">
			              <div class="input-group">
			                <input type="email" class="form-control" id="Region" placeholder="Input coordinates">
				              <button type="button" class="btn btn-secondary"
							          style="background-color: #e9ecef; border: 1px solid #ced4da; color: black">
				                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-zoom-in" viewBox="0 0 16 16">
				                  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11M13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0"/>
				                  <path d="M10.344 11.742q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1 6.5 6.5 0 0 1-1.398 1.4z"/>
				                  <path fill-rule="evenodd" d="M6.5 3a.5.5 0 0 1 .5.5V6h2.5a.5.5 0 0 1 0 1H7v2.5a.5.5 0 0 1-1 0V7H3.5a.5.5 0 0 1 0-1H6V3.5a.5.5 
                                        0 0 1 .5-.5"/>
				                </svg>
				              </button>
				              <button type="button" class="btn btn-secondary"
							          style="background-color: #e9ecef; border: 1px solid #ced4da; color: black">
				                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								     class="bi bi-zoom-out" viewBox="0 0 16 16">
					                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11M13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0"/>
					                <path d="M10.344 11.742q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1 6.5 6.5 0 0 1-1.398 1.4z"/>
					                <path fill-rule="evenodd" d="M3 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5"/>
				                </svg>
				              </button>
			              </div>
			            </div>
		            </div>
		            <div class="row mt-4 mb-2">
			            <label for="MAF" class="col-md-1 col-form-label">MAF</label>
			              <div class="col-md-4">
			                <div class="input-group">
				                <div class="input-group-text">Min.value</div>
				                <input type="number" class="form-control" step="0.01" id="MAF.min">
				                <div class="input-group-text">Max.value</div>
				                <input type="number" class="form-control" step="0.01" id="MAF.max">
			                </div>
			              </div>
		            </div>
		            <div class="row mt-2 mb-2">
					  <div class="col-md-4">
		                <button class="btn btn-primary mt-2 mb-2" type="submit" value="submit">
						  Submit
						</button>
					  </div>
		            </div>
		          </form>
	          </div>
	        </div>
	      </div>
	      <div class="row justify-content-center mt-4">
		      <div class="col">
	          <nav aria-label="Pages">
		          <ul class="pagination">
			          <li class="page-item">
			            <a class="page-link" href="#" aria-label="Previous">
				            <span aria-hidden="true">&laquo;</span>
			            </a>
			          </li>
			          <li class="page-item"><a class="page-link" href="#">1</a></li>
			          <li class="page-item"><a class="page-link" href="#">2</a></li>
			          <li class="page-item"><a class="page-link" href="#">3</a></li>
			          <li class="page-item">
			            <a class="page-link" href="#" aria-label="Next">
				            <span aria-hidden="true">&raquo;</span>
			            </a>
			          </li>
		          </ul>
		        </nav>
		      </div>
		      <div class="col">
		        <button class="btn btn-primary float-end mb-2" type="submit" value="download">
		          Download
		        </button>
		      </div>
	      </div>
	      <div class="row justify-content-center">
	        <div class="col">
	          <table class="table table-bordered table-striped table-hover align-middle" style="word-break: break-all;">
		          <thead>
		            <tr style="text-align: center;">
		              <th scope="col">Chromosome</th>
		              <th scope="col">Position</th>
			          <th scope="col">REF allele</th>
			          <th scope="col">ALT allele</th>
			          <th scope="col">MAF</th>
			          <th scope="col">Annotation</th>
			          <th scope="col">Browser</th>
		            </tr>
	            </thead>
	          <tbody>
			        <tr>
			          <td>1</td>
			          <td>123</td>
			          <td class="text-center">A</td>
			          <td class="text-center">T</td>
			          <td>0.34</td>
			          <td class="text-center">
			            <button class="btn btn-primary" type="submit">
		                Details
		              </button>
			          </td>
			          <td class="text-center">
			            <button class="btn btn-primary" type="submit">
		                  Show in browser
		                </button>
			          </td>
			        <tr>
			          <td>2</td>
			          <td>567</td>
        			  <td class="text-center">T</td>
        			  <td class="text-center">G</td>
        			  <td>0.01</td>
        			  <td class="text-center">
        			    <button class="btn btn-primary" type="submit">
        		          Details
        		        </button>
        			  </td>
        			  <td class="text-center">
        			    <button class="btn btn-primary" type="submit">
        		          Show in browser
        		        </button>
        			  </td>
			        </tr>
        			<tr>
        			  <td>3</td>
        			  <td>890</td>
        			  <td class="text-center">G</td>
        			  <td class="text-center">A</td>
        			  <td>0.21</td>
        			  <td class="text-center">
        			    <button class="btn btn-primary" type="submit">
        		          Details
        		        </button>
        			  </td>
        			  <td class="text-center">
        			    <button class="btn btn-primary" type="submit">
        		          Show in browser
        		        </button>
        			  </td>
        			</tr>
		        </tbody>
		      </table>
	      </div>
      </section>
    </main>
  </body>
</html>
